body {
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px; /* Establece el margen mínimo */

}
.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container h2 {
    grid-column: span 2;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select,
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
}

input:focus,
select:focus {
    border-color: #3498db;
    outline: none;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
}

button.volver {
    background-color: #98a7b3;
}

button:hover {
    background-color: #2980b9;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}
